name: Harbour for Windows 32 using MSVC

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    if: github.actor == github.event.repository.owner.login
    
    steps:
    - uses: actions/checkout@v4     # 1. 检出本仓库（含 .github/temp/ 下的两个 zip）
    
    - name: Checkout harbour/core repo
      uses: actions/checkout@v4
      with:
       repository: harbour/core
       path: harbour

    - name: Install dependencies
      run: |
         Expand-Archive -Path ".github\temp\OpenSSL-Win32.zip" -DestinationPath "C:\OpenSSL" -Force
         Expand-Archive -Path ".github\temp\curl-7.54.0-win32-mingw.zip" -DestinationPath "C:\curl" -Force

      # 5. 设置 MSVC 环境
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86
          
    - name: Compile Harbour
      shell: cmd
      run: |
        cd harbour
        set HB_BUILD_MODE=c
        set HB_USER_PRGFLAGS=-l-
        set HB_BUILD_CONTRIBS=
        set HB_WITH_OPENSSL=C:\OpenSSL\include
        set HB_WITH_CURL=C:\curl\include
        set HB_STATIC_OPENSSL=yes
        set HB_STATIC_CURL=yes
        set HB_COMPILER=msvc
        win-make.exe
        
    - name: Create output folders
      shell: cmd
      run: |
        mkdir output
        mkdir output\bin
        copy harbour\bin\win\msvc\*.exe output\bin
        mkdir output\lib
        copy harbour\lib\win\msvc\*.lib output\lib
        mkdir output\include 
        copy harbour\include output\include
        
    - name: Get current time
      uses: srfrnk/current-time@master
      id: current-time
      with:
        format: YYYY_MM_DD
 
    - name: Upload Harbour to artifact
      env:
         TIME: "${{ steps.current-time.outputs.formattedTime }}"
      uses: actions/upload-artifact@v4
      with:
       name: harbour_win32_msvc_${{ env.TIME }}
       path: output
